<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eovendo.app"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eovendo.app.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eovendo.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.eovendo.app.Dashboard" >
        </activity>
        <activity android:name="com.eovendo.app.PlayVideo" >
        </activity>
        <activity
            android:name="com.eovendo.app.VideoPlayerActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.eovendo.app.CommentVideo">
        </activity>
        <activity
            android:name="com.eovendo.app.ViewComments">
        </activity>
    </application>

</manifest>